* {
    font-family: sans-serif;
    font-size: large;
}

body {
    background-color: wheat;
}

#change-number {
    margin: auto;
    width: 30%;
    padding: 30px;
    border: 5px solid black;
    text-align: center;
}

#tile-number-input {
    margin-top: 20px;
    border: 5px solid black;
    border-radius: 5px;
}

#change-number-btn {
    border: 5px solid black;
    margin-top: 15px;
}

#change-number-btn:hover {
    background-color: gray;
    cursor: pointer;
}

#container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
}

#paint-board {
    border: 5px solid black;
    width: 501px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

#colors {
    border: 5px solid black;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.color-tile {
    width: 125px;
    height: 125px;
    background-color: white;
    
}


.paint-tile {
    width: 100px;
    height: 100px;
    
    box-sizing: border-box;
}

.paint-tile:hover {
    border: 3px solid black;
}